.sidebar{
  background-color: #333333;
  position: absolute;
  color: white;
  width: 15rem;
  min-height: 30rem;
  right:1rem;
  top:3rem;
  display: none;
  border-radius: 0.5rem;
  opacity: 0.9;
}

.sidebar .title{
  text-align: center;
}

.sidebar .sub{
  background-color: #7f91a9;
  border: none;
  height: 1px;
}

.map{
  /* background: #444444; */
  min-height: 400px;
  cursor: pointer;
  padding: auto;
  padding: 0px 0px 0px 0px;
  /* border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem; */
}

.map canvas{
  padding: 0px 0px 0px 0px;
  /* border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem; */
}

.mode{
  position: absolute;
  top: 40rem;
  left: 50%;          /* 向左 50% */
  transform: translateX(-50%); /* 水平居中 */
}

.controller{
  position: absolute;
  right: 2rem;
  top: 75%;
  width: 7rem;
  height: 7rem;
  border-radius: 8rem;
  background-color: #bbbbbb;
  opacity: 0.3;
  flex-direction: row; 
  display: grid;
  place-items: center; 
  user-select: none;
}

.controller:hover{
  opacity: 0.6;
}

.direction{
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  line-height: 2rem;
  color: #ffffff;
  background-color: #101e78;
  text-align: center;
  margin: 0 auto;
  display: block;
  user-select: none;
}

.grid{
  width:7rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  float: left;
  user-select: none;
}
.half{
  width: 3.5rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  float: left;
  user-select: none;
}

.countdown{
  position: absolute;
  width: 28%;
  aspect-ratio: 1;
  border-radius: 15rem;
  background: #1f2937;
  top:20%;
  left:36%;
  z-index: 8866;
  display: none;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  opacity: 0.8;
}

.countdown h1{
  font-size: 8rem;
  margin: 0 auto;
  padding-top: 2.5rem;
  color: #FFFFFF;
}

.dialog{
  background-color: #333333;
  position: absolute;
  color: white;
  width: 80%;
  min-height: 20rem;
  left:10%;
  top:40px;
  z-index: 8888;
  display: none;
  border-radius: 1rem;
  padding: 0.5rem;
}

.zoom{
  position: absolute;
  top:5rem;
  right: 1.5rem;
  height:22rem;
  width: 1.7rem;
  background-color: #b2c2d8;
  text-align: center;
  border-radius: 0.5rem;
  opacity: 0.3;
  display: none;
}

.zoom:hover{
  background-color: #515f72;
  opacity: 1;
}

.zoom_top{
  position: absolute;
  top: 0.5rem;
  left: 0.55rem;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
  user-select: none;
}

.zoom_top:hover{
  scale: 1.4;
}

.zoom_bottom{
  position: absolute;
  bottom: 0.5rem;
  left:  0.55rem;
  font-size: 1rem;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  user-select: none;
}

.zoom_bottom:hover{
  scale: 1.4;
}

.zoom_button{
  position: absolute;
  top:100px;
  left: 0.36rem;
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: #647895;
}

.zoom_button:hover{
  background-color: #628fcd;
  scale: 2.2;
  box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  opacity: 1;
}

.form{
  background-color: #444444;
  color: white;
  width: 80%;
  min-height: 30rem;
  padding: 0.5rem;
  position: absolute;
  left:10%;
  top:2rem;
  z-index: 6666;
  display: none;
  border-radius: 1rem;
}

.form input{
  width: 80%;
  height: 2rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 0.5rem;
}

.form button{
  height: 3rem;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 0.5rem;
  background-color: #2563eb;
  cursor: pointer;
  color: #FFFFFF;
}

.form button:hover{
  background-color: #1e40af;
}

.row{
  width: 100%;
  padding: 0.2rem 1rem 0.2rem 1rem;
}

.foot{
  position: absolute;
  width:95%;
  padding: 0.2rem 1rem 0.2rem 1rem;
  height: 3rem;
  bottom: 1rem;
  left: 0rem;
}

.left{
  float: left;
}

.right{
  float: right;
}

.close{
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: gray;
}

.close:hover{
  color: white;
  cursor: pointer;
}

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  background-color: #1f2937; /* dark gray */
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

.toast.show {
  opacity: 1;
  pointer-events: auto;
  animation: slideUpFade 2.5s ease forwards;
}

@keyframes slideUpFade {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -80%);
    opacity: 0;
  }
}

.compass{
  width: 90px;
  height: 90px;
  background-color: #333333;
  position:absolute;
  top:20px;
  left:20px;
  border-radius: 50%;
  background-image: url(./compass.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  user-select: none;
  cursor: pointer;
}

.pointer{
  opacity: 1;
}

.status{
  width: 90px;
  height: 24px;
  line-height: 24px;
  font-size:12px;
  background-color: #333333;
  position: absolute;
  top:120px;
  left:20px;
  text-align: center;
  color: #ffffff;
  user-select: none;
  cursor: pointer;
}

.status:hover{
  background-color: #444444;
}

.menu{
  width: 90px;
  line-height: 24px;
  font-size:12px;
  background-color: #333333;
  position: absolute;
  top:175px;
  left:20px;
  text-align: center;
  color: #ffffff;
}

.fold{
  width: 90px;
  line-height: 24px;
  font-size:12px;
  background-color: #333333;
  position: absolute;
  top:150px;
  left:20px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.fold:hover{
  background-color: #444444;
}

.pop{
  width: 90px;
  line-height: 24px;
  background-color: #333333;
  position: absolute;
  top:0px;
  left:0px;
  text-align: center;
  color: #ffffff;
}

.buttons{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;   /* 垂直排列 */
  gap: 0.1rem;              /* 按钮间距 */
  width: 90px;             /* 可选固定宽度 */
}

.buttons li{
  background-color: #404f6d;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.2rem 0rem 0.2rem 0rem;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.2s;
  user-select: none;
}

.buttons li:hover{
  background-color: #495877;      /* hover 效果 */
}

.buttons li:active {
  background-color: #495877;      /* 点击效果 */
}

.sm_button{
  padding: 0.25rem 0.5rem;   /* 控制按钮的高度和宽度 */
  font-size: 1rem;        /* 小字号 */
  border: 1px solid #383838;    /* 边框 */
  border-radius: 0.25rem;    /* 圆角 */
  background-color: #007bff; /* 背景色 */
  color: white;              /* 字体颜色 */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sm_button:hover{
  background-color: #0056b3;
}

.pr-1{
  padding-right: 1rem;
}

.row{
  display: block;
  width: 100%;
  padding: 0.1rem 0rem 0.1rem 0rem;
  margin: 0 auto;
  min-height: 2rem;
}
.left{
  float: left;
}
.right{
  float: right;
}

@media (max-width: 768px) {
  body{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
  }

  .close{
    top: 0.5rem;
    right: 0.5rem;
  }
}
