.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 16px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: slideIn 0.5s ease-out forwards, fadeOut 0.5s 3s forwards;
  font-family: sans-serif;
  z-index: 9999;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.compass{
  width: 90px;
  height: 90px;
  background-color: #333;
  position:fixed;
  top:20px;
  left:20px;
  border-radius: 50%;
}

.status{
  width: 90px;
  height: 24px;
  line-height: 24px;
  font-size:12px;
  background-color: #333;
  position: fixed;
  top:120px;
  left:20px;
  text-align: center;
  color: #ffffff;
}

.menu{
  width: 90px;
  height: 24px;
  line-height: 24px;
  font-size:12px;
  background-color: #333;
  position: fixed;
  top:150px;
  left:20px;
  text-align: center;
  color: #ffffff;
}